nav {
  width: 100%;
  color: #fff;
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  height: 80px;
  align-items: center;
  z-index: 10;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: transparent;
  transition: background-color 0.5s;
}

.start {
  display: flex;
  align-items: center;
}

.logo {
  width: 160px;
  height: 120px;
  margin-top: 30px;
}

.bx-menu {
  width: 30px;
  visibility: hidden;
  cursor: pointer;
}

h1 {
  padding-left: 10px;
  margin-top: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
}

nav ul li {
  font-size: 16px;
  cursor: pointer;
}

nav ul li:hover {
  cursor: pointer;
  transition: all 250ms ease-in-out;
  transform: scale(1.1);
}

.dark-nav {
  background-color: #000f38;
  transition: background-color 0.5s;
}

/* media queries */
@media (max-width: 1260px) {
  .logo {
    width: 100px;
    height: 60px;
  }
}

@media (max-width: 1200px) {
  .bx-menu {
    visibility: visible;
    margin-top: 25px;
    position: right;
  }

  nav ul {
    position: fixed;
    top: 80px;
    right: -200px;
    background-color: #000f38;
    width: 200px;
    padding-top: 5px;
    transition: right 0.5s;
    flex-direction: column;
    align-items: center;
    bottom: 0;
  }

  nav ul.show {
    right: 0;
  }

  nav ul li {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 80px;
    height: 50px;
  }

  h1 {
    font-size: 18px;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 10px;
  }

  .logo {
    width: 60px;
    height: 40px;
  }

  .bx-menu {
    font-size: 25px;
  }

  h1 {
    font-size: 16px;
    margin-top: 20px;
  }

  nav ul li {
    font-size: 14px;
  }
}
